@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
// font-family: 'Playfair Display', serif;
// font-family: 'Poppins', sans-serif;
// .open{
//     display: flex !important;
// }



.burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span{
    content: " ";
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #ff8000;
}

.burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #ff8000;
    transition: all 0.3s ease 0s;
}

.burger::before { top: 0 }

.burger::after { bottom: 0 }


/* Добавляем класс active для анимации иконки бургера */
.burger.active span { transform: scale(0) }

.burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

.header {
    padding-top: 30px;
    padding-bottom: 100px;
    background-color: #FFF7F5;
    // .header__bar

    &__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    // .header__logo



    // .header__items

    &__items {
        display: flex;
        column-gap:80px;
        margin: auto;
    }

    // .header__item

    &__item {

    }

    // .header__link

    &__link {
        color: #0F1428;
        font-weight: 400;
        font-size: 20px;
        line-height: 35px;
        font-family: $poppins;
        transition: all 0.3s ease;
        &:hover{
            font-weight: 700;
        }
    }

    // .header__cart

    &__cart {
        margin-right: 43px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 60px;
            height: 60px;
            background: #0F1428;
            border-radius: 39px;
            z-index:1;
            top: -18px;
            left: -18px;
        }
        &::after{
            content: "";
            position: absolute;
            width: 28px;
            height: 28px;
            background: #FB9873;;
            border-radius: 39px;
            z-index:3;
            top: -25px;
            left: 17px;
        }
    }

    // .header__cart-img

    &__cart-img {
        position: relative;
        z-index: 10;
    }

    &__cart-numb {
        position: absolute;
        z-index: 4;
        color:  #0F1428;;
        top: -31px;
        left: 26px;
        font-weight: 600;
        font-size: 18px;
        line-height: 229%;
        font-family: $poppins;
    }

    // .header__burger

    &__burger {
        border: none;
        margin-left: 10px;
        cursor: pointer;
        background-color: inherit;
    }

    // .header__burger-img

    &__burger-img {
    }
    
    &__content {
        display: flex;
        justify-content: space-between;
    }
    
    &__inner{
        max-width: 760px;
    }
    // .header__name

    &__name {
        padding-top: 80px;
        @extend %name;
        margin-bottom: 25px;
    }

    // .header__title

    &__title {
        font-weight: 400;
        font-size: 122px;
        line-height: 137px;
        font-family: $play;
        margin-bottom: 50px;
        & span {
            color: #FA6430;
        }
    }

    // .header__text

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 229%;
        margin-bottom: 100px;
    }

    // .header__btn

    &__btn {
    }

    // .header__btn-link

    &__btn-link {
        padding: 28px 60px;
        background-color: #0F1428;
        color: #fff;
        font-size: 20px;
        line-height: 30px;
        transition:all 0.3s ease;
        &:hover{
            background-color: #fff;
            color: black;
            border: 1px solid #000;
        }
    }

    // .header__content-img
    &__content-imgblock{
        position: relative;
    }
    &__content-img {
        margin-left:23px;
        max-width: 692px;
        max-height: 885px;
    }
    &__content-cards{
        position: absolute;
        bottom:-50px;
        right: 0px;
    }
}
.partners {
    margin-top: 170px;
    // .partners__title

    &__title {
        @extend %title;
        text-align: center;
        margin-bottom: 150px;
    }

    // .partners__items

    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 82px;
        row-gap: 60px;
        margin: 0 200px;
    }

    // .partners__item

    &__item {
    }

    // .partners__img

    &__img {
        opacity: 0.4;
    }
}
.products {
    padding-top:200px;
    // .products__name

    &__name {
        @extend %name;
        text-align: center;
        margin-bottom: 10px;
    }

    // .products__title

    &__title {
        @extend %title;
        
        text-align: center;
        max-width: 762px;
        margin: 0 auto;
        margin-bottom: 150px;
    }

    // .products__content

    &__content {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        column-gap: 150px;
    }

    // .products__item

    &__item {
        text-align: center;
        max-width:350px;
    }

    // .products__img

    &__img {
        display: inline-block;
        margin-bottom: 50px;
    }

    // .products__numb

    &__numb {
        font-weight: 700;
        font-size: 60px;
        line-height: 80px;
        font-family: $play;
        color: #FA6430;
        margin-bottom: 10px;
    }

    // .products__subtitle

    &__subtitle {
        font-weight: 500;
        font-size: 24px;
        line-height: 229%;
        font-family: $play;
        margin-bottom: 10px;
    }

    // .products__text

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 35px;
        opacity: 0.6;
    }
}
.solution {
    padding-top: 360px;
    // .solution__inner

    &__inner {
        display: flex;
    }

    // .solution__name

    &__name {
        @extend %name;

    }

    // .solution__title

    &__title {
        @extend %title;
        margin-bottom: 50px;
    }

    // .solution__text

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 45px;
        opacity: 0.7;
        margin-bottom: 70px;
    }

    &__link{
        padding:28px 77px;
        font-size: 20px;
        line-height: 30px;
        transition:all 0.3s ease;
        color: #fff;
        background-color: #000;
        &:hover{
            background-color: #fff;
            color: black;
            border: 1px solid #000;
        }
    }
    // .solution__img

    &__img {
        margin-left: 100px;
    }
}
.recipes {
    padding-top: 180px;
    // .recipes__title
    &__title-main{
        @extend %title;
        margin-bottom: 50px;
        text-align: center;
    }
    

    // .recipes__buttons

    &__buttons {
        margin-bottom: 150px;
        display: flex;
        column-gap: 70px;
        justify-content: center;
    }

    // .recipes__button

    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 22px;
        line-height: 45px;
    }

    // .recipes__inner

    &__inner {
    }

    // .recipes__block

    &__block {
    }

    // .recipes__items

    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 67px;
    }

    // .recipes__item

    &__item {
        text-align: center;
    }
    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 54px;
        color: #000;
        margin-bottom: 10px;
    }
    // .recipes__img

    &__img {
        width: 340px;
        height: 448px;
        margin-bottom: 30px;
    }

    // .recipes__text

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 35px;
        color: #6A6A6A;
        margin-bottom: 40px;
    }

    // .recipes__price

    &__price {
        font-size: 24px;
        line-height: 229%;
        margin-bottom: 40px;
        color: #FA6430;
    }

    // .recipes__btn

    &__btn {
        padding: 28px 50px;
        border: 1px solid #0F1428;
        color: #0F1428;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        transition:all 0.3s ease;
        &:hover{
            background-color: #000;
            color: #fff;
        }
    }
    &__inner-btn{
        text-align: center;
        margin-top: 200px;
    }
    &__btn-more{
        padding: 28px 85px;
        font-size: 20px;
        line-height: 30px;
        color: #fff;
        background: #0F1428; 
        transition:all 0.3s ease;
        &:hover{
            background-color: #fff;
            color: black;
            border: 1px solid #000;
        }    
    }
    .mixitup-control-active{
        font-size: 22px;
        line-height: 40px;
        font-weight: 600;
        border-bottom: 2px solid #0F1428;
    }
}
.purifying {

    margin-top: 233px;
    background-color:rgba(251, 152, 115, 0.2);

    // .purifying__inner

    &__inner {
        position: relative;
        display: flex;
        padding: 170px 0px;
    }
    
    // .purifying__main-img

    &__main-img {
        margin-right: 103px;
    }

    // .purifying__img-1

    &__img-1,
    &__img-2,
    &__img-3{
        position: absolute;
        content: " ";
        left: 0px;
        bottom: -2px;
    }

    // .purifying__img-2

    &__img-2 {
        left: 235px;
        bottom: -2px;
    }

    // .purifying__img-3

    &__img-3 {
        left: 470px;
        bottom: -2px;
    }

    // .purifying__info

    &__info {
    }

    // .purifying__title

    &__title {
        @extend %title;
        margin-bottom: 50px;
        
    }

    // .purifying__text

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 45px;
        opacity: 0.7;
        margin-bottom: 70px;
    }

    // .purifying__btn
    &__btn{
        margin-top: 128px;
    }


    &__link{
        padding: 28px 77px;
        color: #fff;
        background-color: #0F1428;
        transition:all 0.3s ease;
        &:hover{
            background-color: #fff;
            color: black;
            border: 1px solid #000;
        }
    }
}
.testimonials {
    margin-top: 227px;
    margin-bottom: 419px;
    // .testimonials__title

    &__title {
        @extend %title;
        margin-bottom: 30px;
        text-align: center;
    }

    // .testimonials__subtitle

    &__subtitle {
        font-weight: 400;
        font-size: 22px;
        line-height: 45px;
        text-align: center;
        color: #6A6A6A;
        margin-bottom: 200px;
    }

    // .testimonials__slider

    &__slider {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .testimonials__item

    &__item {
        text-align: center;
        padding: 0px 100px;
    }

    // .testimonials__avatar

    &__avatar {
        margin: 0 auto;
        width: 128px;
        height: 128px;
    }

    // .testimonials__name

    &__name {
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 24px;
        line-height: 229%;
    }

    // .testimonials__text

    &__text {  
        font-style: italic;
        font-weight: 500;
        font-size: 23px;
        line-height: 34px;
    }
}
.subscribe {
    margin-top: 379px;
    // .subscribe__inner

    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0px 20px 50px rgba(156, 156, 156, 0.24);
        padding: 110px 80px;
        z-index: 10;
    }
    &__info{
        
        margin-right: 93px;
    }

    // .subscribe__title

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 53px;
        font-family: $play;
        margin-bottom: 20px;
    }

    // .subscribe__text

    &__text {
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        color: #6A6A6A;
    }

    // .subscribe__input

    &__input {
        margin-right: 40px;
        padding: 28px 33px;
        width: 100%;
        max-width: 400px;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #6A6A6A;
        &::placeholder{
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            color: #6A6A6A;
        }
    }

    // .subscribe__btn

    &__btn {
        padding: 24px 37px;
        background-color:#FA6430;
        font-weight: 500;
        font-size: 25px;
        line-height: 38px;
        color: #fff;
        transition:all 0.3s ease;
        &:hover{
            background-color: #fff;
            color: #FA6430;;
            border: 1px solid #FA6430;
        }
    }
}
.footer {
    background-color: #0F1428;
    margin-top: -170px;
    padding-bottom: 152px;
    z-index: 1;
    // .footer__inner

    &__inner {
        display: flex;
        margin-top: 300px;
    }

    // .footer__info

    &__info {
        margin-right:50px;
        max-width: 276px;
    }

    // .footer__logo

    &__logo {
        margin-bottom: 15px;
    }

    // .footer__text

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 190%;
        color: #fff;
        margin-bottom: 55px;
    }

    // .footer__social

    &__social {
        display: flex;
        column-gap: 15px;
    }

    // .footer__social-img

    &__social-img {
    }

    // .footer__tables

    &__tables {
        display: flex;
        column-gap: 100px;
        margin-bottom: 65px;
    }

    // .footer__items

    &__items {
    }

    // .footer__title

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 229%;
        color: #FFF7F5;
        margin-bottom: 10px;
    }

    // .footer__item

    &__item {
        margin-bottom: 10px;
    }

    // .footer__link

    &__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 190%;
        color: #fff;
        transition: all .3s ease;
        &:hover{
            font-weight: 700;
        }
    }

    // .footer__copyright

    &__copyright {
        font-weight: 400;
        font-size: 14px;
        line-height: 40px;
        color: #fff;
        text-align: center;
    }
}

@keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
}
@import 'media';